<div class="container">
  <div class="row">
    <div class="col-md-12 text-center customer-slide">
      <h5>Chào mừng bạn đến với <span class="font-weight-bolder">Zalo PC!</span></h5>
      <div class="row mt-4 mb-5">
        <div class="col-md-8 offset-md-2 ">
          <p>Khám phá những tiện ích hỗ trợ làm việc và trò chuyện cùng người thân, bạn bè được tối ưu hoá cho máy tính của bạn.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12  ">
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
            <img class="d-block " src="assets/images/inapp-welcome-screen-0.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block " src="assets/images/inapp-welcome-screen-01.jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block " src="assets/images/inapp-welcome-screen-02.jpg" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block " src="assets/images/inapp-welcome-screen-03.png" alt="Third slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block " src="assets/images/inapp-welcome-screen-04.jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>

    </div>
  </div>
</div>
