.container{
  padding-left: 400px !important;
}
.customer-slide{
  margin-top: 250px;
}
img{
  margin-left: 150px;
  width: 60%;
  margin-bottom: 50px;
}
.offset-md-2 p{
  font-size: 14px;
}

.carousel .carousel-indicators li {
  background-color: black !important;
}
