.bg{
  background-color: #4b9aff;
}
.text-wrap {
  background-color: #dae9ff !important;
}
.img-fluid {
  max-width: 3%;
  height: auto;
  border: solid 2px white;
}
.mess-item{
  width: 100% !important;
  height: 100px;
}
.custom-content{
  max-width: 1340px;
}
.bg-g {
  background-color: white;
}
