.fixed-top{
  margin-top: 100px;
}
img{
  width: 114px;
  height: 41px;
}
p{

  font-weight: bold;
}
.card{
  background-color: white !important;
  width: 400px !important;
}
.card-header {
  background-color: white !important;

}
.back{
  float: right;
}
.border-left{
  height: 20px !important;
}
.custom-p {
  padding-bottom: 10px;
  font-size: 14px;
}
.custom-button{
  background-color: #0b93f3 !important;
  color: white;
  text-transform: none !important;
}
.card-footer{
  background-color: white !important;
}
.custom-a:hover{
  border-bottom: 1px solid;
}
.border-bottom-p{
  border-bottom: 1px solid black;
}
