<div class="login-main">

  <div class="row justify-content-md-center fixed-top">
    <div class="col col-lg-2"></div>
    <div class="col-12 col-md-auto">
      <div class="text-center mb-3">
        <img src="../../../../assets/images/logo.png">
        <h5 class="mt-4">Đăng nhập bằng tài khoản Zalo</h5>
        <p class="h5 mt-4">chat.zalo.me</p>
      </div>
      <div class="card border-0">
        <div class="card-header row mr-0 ml-0 text-center pb-0 pt-4">
          <div class="col">
            <a (click)="loginByPhone = true; loginByEmail = false"><p
              [ngClass]="loginByPhone?'border-bottom-p':'text-muted'" class="mb-0 custom-p text-uppercase">Với số điện
              thoại</p></a>
          </div>
          <div class="col border-left">
            <a (click)="loginByEmail = true; loginByPhone = false"><p
              [ngClass]="loginByEmail?'border-bottom-p':'text-muted'" class="mb-0 custom-p text-uppercase">Với email</p>
            </a>
          </div>
        </div>
        <div class="card-body">

<!--          login by phone-->

          <form class="p-3" *ngIf="loginByPhone && !loginByEmail" [formGroup]="formPhone">
            <div class="md-form" >
              <input mdbValidate type="text" id="phone" class="form-control" mdbInput formControlName="phone">
              <label for="phone">Số điện thoại</label>
              <mdb-error class="mt-2" *ngIf="phone.hasError('required') && phone.touched ">Chưa nhập số điện thoại</mdb-error>
              <mdb-error class="mt-2" *ngIf="phone.invalid && phone.dirty && !phone.hasError('required')">Nhập sai số điện thoại</mdb-error>

            </div>
            <div class="md-form mt-4">
              <input mdbValidate type="password" id="password" class="form-control" mdbInput formControlName="passwordByPhone">
              <label for="password">Mật khẩu</label>
              <mdb-error class="mt-2" *ngIf="passwordByPhone.hasError('required') && passwordByPhone.touched">Chưa nhập mật khẩu</mdb-error>
              <mdb-error class="mt-2" *ngIf="passwordByPhone.invalid && passwordByPhone.dirty && !passwordByPhone.hasError('required')">Mật khẩu 6 ký tự trở lên</mdb-error>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              {{errorLabel}}
            </div>
            <button *ngIf="!loading" mdbBtn class="custom-button" block="true"
                    [disabled]="formPhone.status !== 'VALID'"
                    mdbWavesEffect type="submit" disabled
                    (click)="onLoginByPhone()"
            >
              Đăng nhập với mật khẩu
            </button>
            <button *ngIf="loading" mdbBtn class="custom-button" block="true" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Loading...</span>
            </button>
          </form>

<!--          login by email-->

          <form class="p-3" *ngIf="!loginByPhone && loginByEmail" [formGroup]="formEmail">
            <div class="md-form">
              <input mdbValidate type="email" id="email" class="form-control" mdbInput formControlName="email">
              <label for="email">Email</label>
              <mdb-error class="mt-2" *ngIf="email.hasError('required') && email.touched">Chưa nhập email</mdb-error>
              <mdb-error class="mt-2" *ngIf="email.invalid && email.dirty && !email.hasError('required')">Nhập sai email</mdb-error>

            </div>
            <div class="md-form mt-4">
              <input mdbValidate type="password" id="password-email" class="form-control" mdbInput formControlName="passwordByEmail">
              <label for="password-email">Mật khẩu</label>
              <mdb-error class="mt-2" *ngIf="passwordByEmail.hasError('required') && passwordByEmail.touched">Chưa nhập mật khẩu</mdb-error>
              <mdb-error class="mt-2" *ngIf="passwordByEmail.invalid && passwordByEmail.dirty && !passwordByEmail.hasError('required')">Mật khẩu 6 ký tự trở lên</mdb-error>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              {{errorLabel}}
            </div>
            <button mdbBtn *ngIf="!loading" class="custom-button" block="true"
                    mdbWavesEffect type="submit"
                    [disabled]="formEmail.status !== 'VALID'"
                    (click)="onLoginByEmail()"
            >Đăng nhập với mật khẩu
            </button>
            <button *ngIf="loading" mdbBtn class="custom-button" block="true" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Loading...</span>
            </button>
          </form>


        </div>
        <div class="card-footer text-center">
          <p class="font-weight-light small">Bạn chưa có tài khoản?<a class="ml-2 pb-1 custom-a blue-text"
                                                                      [routerLink]="['/',routing.AUTH,routing.REGISTER]">
            Đăng ký ngay!</a></p>
        </div>
      </div>
    </div>
    <div class="col col-lg-2"></div>

  </div>

</div>
